/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
	font-family: Lato;
    background: #3F3D42;
    background-image: url(../style/bg1.png), url(../style/bg2.png);
    background-repeat: no-repeat, repeat; background-size: 100%, 800px;
    color: #FFFFFF;
}

ul, ol{
    padding-left:2rem;
}

table.main {
  /*border-collapse:collapse;*/
  width: 75%;
  margin-left:auto;
  margin-right:auto;
}

td.main {
	padding: 6px;
    background-color: rgba(95, 83, 70, .7);
}

th.menu {
	padding: 6px;
    background-color: rgba(103, 28, 20, .7);
}

h1 {
	color: #54CCC1;
	clear: both;
}

h2 {
	color: #2D8FCE;
	clear: both;
}

h3 {
	color: #CD5932;
}

h4 {
	color: #CD5932;
}

p {
	text-indent: 50px;
}

a {
	color: #54CCC1;
}

table.image {
	float: right;
	clear: right;
}

table.galery {
	margin: 6px;
	display: inline-block;
	word-break: keep-all;
	vertical-align: top;
}

table.galery tbody {
	width: 100%;
	display: table;
}

span.alt {
	background-color: #671C14;
	color: #CD5932;
}

table.icons {
	margin: 12px;
	display: inline-block;
	background-image: url("style/bg4.png");
	word-break: keep-all;
	vertical-align: top;
}

table.icons tbody {
	width: 100%;
	display: table;
}
